.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('./Star_Wars_Logo.svg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
